body{background:#4a5d61;color:#8C8370;text-align:center;}
.content{-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;width:800px;margin:15px auto;background:#2b261d;padding:25px;}
.rand{background:#18140d;display:block;margin:0 auto;width:150px;height:50px;text-align:center;text-decoration:none;color:#fff;padding-top:4px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:none;cursor:pointer;}
h1{margin:10px;text-align:center;}
h1 a:hover{background:none;}
h2{width:500px;margin:10px auto;text-align:center;}
form,fieldset{border:0;}
form{margin:20px 0;}
.rand:visited{color:#fff;}
.tags{width:600px;margin:0 auto;}
.tags ul{margin:0;padding:0;overflow:hidden;}
.tags li{float:left;width:150px;margin:0;padding:0;list-style:none;}
