<h1>Hello World</h1>
<style>
  .rand{background:#7792ad;display:block;margin:0 auto;width:200px;height:30px;text-align:center;text-decoration:none;color:#fff;padding-top:14px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
</style>
<div><a href="/home/random" class="rand">Roll the Dice</a></div>
<div><%= link_to "Add another Joint", joints_path %></div>
