<h2>Let it decide where you dine.</h2>
<%= form_tag("/random", :method => "post") do %>
  <fieldset class="tags">
    <ul>
      <%= render :partial => "tags/tag_selection", :collection => @tags %>
    </ul>
  </fieldset>
  <fieldset>
    <input type="submit" class="rand" value="Roll the Dice" />
  </fieldset>
<% end %>
<div><%= link_to "Add another Joint", joints_path %></div>
